.jumbotron
  .container
    %h2 examples for the bigbang.coffee library
    %p
      Create graphical and evented programs (like games) in
      coffeescript or javascript using plain mathematical functions;
      inspired by the 2htdp library for racket.
    %br
    %p
      %a.btn.btn-primary.btn-lg{ href: LINK_BB }
        bigbang.coffee on GitHub &raquo;
      %a.btn.btn-primary.btn-lg{ href: LINK_GH }
        bigbang-examples on GitHub &raquo;
