- a = -> x { x[:link] == @link ? 'active' : nil }

!!!
%html
  %head
    %title bigbang.coffee examples
    %meta{ 'http-equiv' => 'Content-Type',
           content: 'text/html;charset=utf-8' }
    - (CSS + (@css || [])).each do |src|
      %link{ rel: 'stylesheet', type: 'text/css',
             href: src }
    - (@scripts || []).each do |src|
      %script{ type: 'text/javascript', src: src }
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container.w800
        .navbar-header
          %a.navbar-brand{ href: '/' } bigbang.coffee examples
        %ul.nav.navbar-nav.navbar-right
          - NAV.each do |x|
            %li{ class: a[x] }
              %a{ href: x[:link] }= x[:title]
    .container.w800
      != yield
      %br
      %hr
      %footer
        %p © #{Time.now.strftime '%Y'} #{COPYRIGHT}
